.App {
  text-align: center;
  background-color: rgb(217, 85, 80);
  /* margin: auto; */
}

.title {
  color: white;
}

.group-button-timer {
  background-color: rgba(0, 0, 0, 0);
}

.timer-area {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 13px;
  padding: 20px;
  position: inherit;
  max-width: 500px;
  margin: auto;
}

.timer {
  font-weight: bold;
  font-size: 100px;
  margin-top: 20px;
  color: rgba(255, 255, 255);
}

.list {
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}
